<VirtualHost *:80>
  ServerName {{ project.domain }}
  DocumentRoot {{ project.document_root }}

  <Directory />
    Options +FollowSymLinks
    AllowOverride None
  </Directory>

  <Directory "{{ project.path }}">
    Options -Indexes +FollowSymLinks
    AllowOverride All
    Order allow,deny
    allow from all
    <IfVersion >= 2.4>
      Require all granted
    </IfVersion>
  </Directory>

  LogLevel alert rewrite:trace3
  ErrorLog {{ project.apache_error_log }}
  CustomLog {{ project.apache_access_log }} combined

  # phpmyadmin
  Redirect /phpmyadmin /phpmyadmin/
  ProxyPass /phpmyadmin/ http://phpmyadmin/
  ProxyPassReverse /phpmyadmin/ http://phpmyadmin/

  # php-fpm
  ProxyPassMatch ^/(.*\.php(/.*)?)$ fcgi://php:9000{{ project.document_root }}/$1
  DirectoryIndex index.html index.php
</VirtualHost>
